.todo-container {
  padding: 1rem;
  .todo {
    align-items: center;
    cursor: pointer;
    display: flex;

    p, input {
      margin: 0;
    }

    > :first-child {
      margin-right: 1rem;
    }
  }

  .todo__subtext {
    color: #999;
  }

  .todo-completed {
    p, .todo-subtext {
      color: $light-color;
      text-decoration: line-through;
    }
  }

  .del-todo-btn {
    float: right;
  }
}
